---
const networks = [{
    platform: "github",
    username: "johanjaguardev",
    message: "Learn more about my projects on "
  }, {
    platform: "twitter",
    username: "j0h4n_wtf",
    message: "Follow me on "
  },
  {
    platform: "instagram",
    username: "j0h4n_wtf",
    message: "Check my photos on "
  }
];
import Social from './Social.astro';
---
<style>
  footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }
</style>
<footer>
  <ul>
    {networks.map((network) => <li><Social platform={network.platform} username={network.username} message={network.message} /></li>)}
  </ul>
</footer>